<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg"%>
  </div>

  <div id="content">
    <div id="content">
		<h1>Hey, I'm Sophie Qi</h1>
		<p>Welcome to my 12 Web Apps in 12 Weeks Challenge.</p>
	</div>
  </div>
</div>
